.personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input-label {
    font-size: .9rem;
    font-weight: var(--weight-md);
    margin-bottom: .4rem;
    color: var(--marine-blue);

    display: flex;
    justify-content: space-between;
}

.error {
    color: var(--strawberry-red);
    display: none;
    margin-right: 1rem;
}

.input input {
    width: 100%;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid var(--light-gray);
    font-weight: var(--weight-lg);
}

.input input::placeholder {
    color: var(--cool-gray);
    font-weight: var(--weight-md);
}

.input input:focus {
    outline: 2px solid var(--purplish-blue);
}

@keyframes shake {
    20%, 40%, 60%, 80% {
        transform: translateX(-4px);
    }
    30%, 50%, 70%, 100% {
        transform: translateX(4px);
    }
}